@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    display: inline-block;
    box-sizing: border-box;
}

:root{
    /* color */
    --backgnd: #292729;
    --icon_hover: #181718;
    --elem_backgnd: #181718;
    --text: #fff;
    --title_color: #C2397B;
    --button_viewMore: #732181;
}

body.dark{
    --backgnd: #E6E6E6;
    --icon_hover: #fff;
    --elem_backgnd: #CCBCCE;
    --text: #000;
    --title_color: #C2397B;
    --button_viewMore: #732181;
}

body{
    background-color: var(--backgnd);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 7rem;
}

/* style icon */

header > ul > li > img {
    max-height: 150px;
    max-width: 100%;
}

ul > li > a > img {
    max-height: 50px;
    max-width: 50px;
}

ul > li > a > img:hover{
    background-color:var(--icon_hover);
    border-radius: 10px;
}

/* style header, footer */

header, footer, nav{
    width: 100%;
}

body>footer{
    position: fixed;
    bottom: 0;
    background: var(--elem_backgnd);
}

header > ul, footer > nav > ul{
    padding: 15px 15px;
    display:grid;
}

header ul li:first-child{
    grid-row: 1 / 4;
    grid-column: 1 / 5;
    margin-left: 50px;
}

header ul li:nth-child(2), header ul li:nth-child(3), header ul li:last-child{
    grid-row: 2;
    text-align: center;
}

footer nav ul {
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

/* style main*/

main{
    display: grid;
    grid-template-columns: 47% 47%;
    grid-template-rows: auto auto;
    gap: 5% 6%;
    padding: 5% 5%;
    margin-bottom: 30px;
}

article{
    padding: 8% 8%;
    text-align: center;
    background: var(--elem_backgnd);
    border-radius: 30px;
    display: grid;
}

article>header h2{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: var(--title_color);
    font-family: 'Italiana', sans-serif;
    font-size: 35px;
}

article>section{
    margin: 20px 5%;
    color: var(--text);
}

article>footer{
    margin-bottom: 20px;
}

footer>a{
    width: 50%;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: var(--button_viewMore);
    border-radius: 5px;
}

/* change theme button */

.label{
    background: var(--elem_backgnd);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 25px;
    height: 25px;
    width: 50px;
}

.ball{
    background-color: var(--button_viewMore);
    position: absolute;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    top: 14%;
    left: 4px;
    transition: 1s;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}